
.home{
    display: flex;
    align-items: left;
    justify-content: right;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}
.home .homeVideo{
    border: white solid 3px;
    width: 400px;
    height: 400px;
    box-shadow:0 1.7rem 3.5rem rgba(0,0,0,0.9);
    margin-right: 30px;

}
.home .homeVideo:hover{
    box-shadow:var(--box-shadow);

}
.home .homeVideo img{
    height: 380px;
    width: 380px;
}
.home .content{
    text-align: center;
    width:80rem;
    border: white solid 3px;
    box-shadow:0 1.7rem 3.5rem rgba(0,0,0,0.9);
    padding: 20px;
    background-color: var(--basecolor);
    color: black;
}
.home .content:hover{
    box-shadow:var(--box-shadow);

}
.home .content h3{
    color:var(--white);
    font-size: 5rem;
}

.home .content h3 span{
    color:var(var(--basecolor));
}

.home .content p{
    color:var(--white);
    font-size: 1.9rem;
    padding:1rem 0;
    line-height: 1.8;
}
