
.product .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap:1.5rem;
}

.product .box-container .box{
    padding:3rem 2rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    text-align: center;
    margin-bottom: 10px;
}

.product .box-container .box:hover{
    transform: var(--transform);

}

.product .box-container .box img{
    margin:1rem 0;
    height:15rem;
}
.product .box-container .box img:hover{
    box-shadow: var(--box-shadow);
    border-color: var(--black);
    border-style: solid;
}
.product .product .box-container .box h3{
   font-size: 2.5rem;
   color:var(--black);
   line-height: 1.8;
}

.product .box-container .box .add-cart{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.product .box-container .box .add-cart:hover{
    background: var(--white);
    color:rgb(0, 0, 0);
    background-color: var(--basecolor);
}
.product .box-container .box .description{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
    cursor: pointer;

}
.blurb:hover{
    background-color: var(--basecolor);
}
.des-1.active, .des-2.active, .des-3.active, .des-4.active,
.des-5.active, .des-6.active, .des-7.active, .des-8.active{
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
    cursor: pointer;

}
#popup1, #popup2, #popup3, #popup4, #popup5, #popup6, #popup7, #popup8{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: var(--basecolor);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    font-size: 14px;
    line-height: 26px;
    display:grid;
    grid-template-columns: 200px 1fr;
}


.popup-details{
    padding:3rem 2rem;
    border-radius: .5rem;
    background:var(--darkcolor);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    text-align: center;
    margin-bottom: 10px;
}
.popup-details:hover{
    transform: var(--transform);

}
.popup-details img{
    margin:1rem 0;
    height:15rem;
    border: solid white 2px;
}
.popup-details h3, .popup-details .price{
   font-size: 1.7rem;
   color:var(--white);
   line-height: 1.8;
}
.popup-content{
    padding-left: 40px;
}
.back-purchase:hover{
    background-color: var(--white);
}
#popup1.active, #popup2.active, #popup3.active, #popup4.active,
#popup5.active, #popup6.active, #popup7.active, #popup8.active
{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    top: 60%;
    z-index: 1;
}

